@using ITMS.Helpers
@using System.Security;

<!doctype html>
<html lang="en">

<head>
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <!-- bootstap bundle js -->
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/Content/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/Content/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/Content/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/Content/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="~/Content/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/Content/assets/libs/js/dashboard-ecommerce.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Content/assets/vendor/select2/js/select2.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
        <link href="~/Content/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/assets/libs/css/style.css">
        <link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
        <link rel="stylesheet" href="~/Content/assets/vendor/charts/chartist-bundle/chartist.css">
        <link rel="stylesheet" href="~/Content/assets/vendor/charts/morris-bundle/morris.css">
        <link rel="stylesheet" href="~/Content/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="~/Content/assets/vendor/charts/c3charts/c3.css">
        <link rel="stylesheet" href="~/Content/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">*@
    @Styles.Render("~/Content/css");
    <title>ITMS</title>
    <script>
        function changeActive(li) {
            var elem = document.getElementsByClassName("men");
            var act = document.getElementById(li);

            for (e in elem) {
                $(e).toggleClass("active");
            }
            act.className += " active";
        }
    </script>
    <style>
        .pic_frame{
            border-radius: 50%;
            width:200px;
            height:200px;
            padding: 2px;
        }
        .displayReport {
            color: #2DAB11;
            font-family: arial;
            font-weight: bold;
            text-transform: uppercase;
        }
        .ui-menu-item {
            background: #fff;
            padding: 15px 10px;
            font-size: 13px;
            color: #000;
            font-weight: bold;
        }

            .ui-menu-item:hover {
                background: #4c8ef7;
                color: #fff;
            }

        ul.ui-autocomplete {
            z-index: 1100;
        }

        ul.ui-menu {
            list-style-type: none;
            width: 30%;
            position: absolute;
            top: 0;
            left: 0;
            max-height: 200px;
            overflow: auto;
            z-index: 9999;
            border: 1px solid #eeeeee;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
        }
    </style>
</head>
<body>
    <script type="text/javascript">
        function get_noti_complete() {
            var feedback = $.ajax({
                type: "POST",
                url: "/Report/Noti",
                async: true,
                dataType: "text",
                success: function (data) {
                    if (data != "") {
                        $("#centerPage").notify(data, { position: "top center", className: "info", arrowShow: false });
                    }

                    setTimeout(function () { get_noti_complete(); }, 5000);
                }
            }
                );
            }
        function get_all_noti() {
            var feedback = $.ajax({
                type: "POST",
                async: true,
                url: "/Report/GetAllNoti",
                dataType: "text",
                success: function (data) {
                    var obj = JSON.parse(data);                   
                    if (obj) {
                        
                        var len = obj.data.length;
                        var parentTxt = "";
                        var txt = "";
                        var createdDate = "";
                        if (len > 0) {
                            
                            for (var i = 0; i < len; i++) {
                                console.log(obj.data[0].From_User);
                                if (obj.data[i].From_User && obj.data[i].createdDate) {
                                    console.log(obj.data[0].From_User);
                                    txt = "<span class='notification-list-user-name'>" + obj.data[i].From_User + "</span>" + obj.data[i].Desc;
                                    createdDate = "<div class='notification-date'>" + obj.data[i].createdDate + "</div>";
                                    parentTxt = "<a href='#' class='list-group-item list-group-item-action'>"
                                        + "<div class='notification-info'>"
                                        + "<div class='notification-list-user-img'><img src='assets / images / avatar - 2.jpg' alt='' class='user - avatar - md rounded - circle'></div>"
                                        + "<div class='notification-list-user-block'>"
                                        + txt
                                        + createdDate
                                        + "</div></div></a > ";
                                    
                                    $("#noti_listing").append(parentTxt);
                                }
                            }
                        }
                    }
                }
            }
            );
        }
        $(function () {
            
            get_noti_complete();
            get_all_noti();
        });        
    </script>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">ITMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i><span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div id="noti_listing" class="list-group">
                                            @*<a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>*@
                                            @*<a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>*@
                                        </div>
                                    </div>
                                </li>
                                <li style="display:none">
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/github.png" alt=""> <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/dribbble.png" alt=""> <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/dropbox.png" alt=""> <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/mail_chimp.png" alt=""><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/slack.png" alt=""> <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (Session["Haspic"] != null)
                                {
                                    if (Session["Haspic"].ToString() == "1")
                                    {
                                        <img src="/Account/getImage/@Session["IDUser"].ToString()" alt="" class="user-avatar-md rounded-circle">
                                    }
                                    else
                                    {
                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle">
                                    }
                                }
                                else
                                {
                                    <img src="~/Content/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle">
                                }
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">@if (Session["UserEmail"] != null) { @Session["UserEmail"].ToString()}</h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                @*<a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>*@
                                <a class="dropdown-item" href="/Account/ProfilePage/"><i class="fas fa-cog mr-2"></i>View Profile</a>
                                <a class="dropdown-item" href="@Url.Action("logOut", "Account")"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>

                            <li class="@Html.setClass("Home")">
                                <a class="nav-link" href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-user-circle"></i>Home <span class="badge badge-success"></span></a>
                            </li>
                            <li class="@Html.setClass("Inventory")">
                                <a class="nav-link" href="@Url.Action("Index", "Inventory")"><i class="fab fa-fw fa-wpforms"></i>Inventory <span class="badge badge-success"></span></a>
                            </li>
                            <li class="@Html.setClass("Report")">
                                <a class="nav-link" href="@Url.Action("Index", "Report")"><i class="fab fa-fw fa-wpforms"></i>Report <span class="badge badge-success"></span></a>
                            </li>
                            @if (HttpContext.Current.Session["User_Cat"] != null)
                            {
                                if (HttpContext.Current.Session["User_Cat"].ToString() == "1")
                                {
                                    <li class="@Html.setClass("Account")">
                                        <a class="nav-link" href="@Url.Action("EM", "Account")"><i class="fab fa-fw fa-wpforms"></i>Manage Users <span class="badge badge-success"></span></a>
                                    </li>
                                }
                            }
                            @if (HttpContext.Current.Session["User_Cat"] != null)
                            {
                                if (HttpContext.Current.Session["User_Cat"].ToString() == "2")
                                {
                                    <li class="@Html.setClass("TechReport")">
                                        <a class="nav-link" href="@Url.Action("Index", "TechReport")"><i class="fab fa-fw fa-wpforms"></i>Technician Report <span class="badge badge-success"></span></a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <div id="centerPage"></div>
                    @RenderBody()

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>

    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->

</body>

</html>